@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
body {
    font-family: 'Raleway', sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

